# compiled output
/dist
/node_modules

# Another files
.env
testing.mjs
tests.ts

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/src/tests.js
/src/domain/db-types/users.db.types.js
/src/domain/users.entity.js
/src/features/users/domain/users.db.types.js
/src/features/users/domain/users.entity.js
/src/test/app.e2e-spec.d.ts
/src/test/app.e2e-spec.js
/src/test/app.e2e-spec.js.map
/tsconfig.tsbuildinfo
